<h2>Show <%= @resource.singular %></h2>

<ul>
<%= for {name, {type, _opts}} <- @resource.field_html_types do %>
  <li>
    <strong><%= Phoenix.Naming.humanize(name)%>:</strong>
    <%= display @struct, name, type %>
  </li>
<% end %>
</ul>

<span><%= link "Edit", to: resource_path(@conn, @resource, [:edit, @struct]) %></span>
<span><%= link "Back", to: resource_path(@conn, @resource, [:index]) %></span>
